body{
    margin: 0;
    background-color: #0f0f0f;
    font-family: 'Arial', sans-serif;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff; 
    min-height :100vh; 
}
.app h1{
    font-size: 2rem;
    margin-bottom: 8px;
}
.app h2{
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 400;
}
.board {
    display : grid;
    grid-template-columns: repeat(3, 90px);
    gap :15px;
    margin-bottom : 25px;

}
.cell {
    width : 90px;
    height : 90px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor : pointer;
    border-radius : 50%;
    transition: transform 0.1s ease;
}
.cell:hover {
    transform: scale(1.05);
}
.cross {
    color: black;
    font-size: 42px;
    font-weight : bold;
}
.tick {
    color: black;
    font-size: 42px;
    font-weight : bold;
}
.tick.win {
    color: green;
}
.reset

{
    padding: 10px 28px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
}

.resert:hover {
    background-color: #cc0000;
}
